.App {
  text-align: center;
}
body{
  background-image: linear-gradient(#adb1fd,white);
  height: 100%;
}
.card{
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  height: 50vh;
  background-image: linear-gradient(#191b3a,white);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}


